<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>sit.filter.LoggerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UnauthorizedOnlyFilter</filter-name>
        <filter-class>sit.filter.UnauthorizedOnlyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnauthorizedOnlyFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Setting_AccountServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Setting_ProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Setting_SecurityServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UnauthorizedOnlyFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>CheckOutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Setting_OrderHistoryServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <servlet-name>Setting_OrderDetailServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sit.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountVerifyServlet</servlet-name>
        <servlet-class>sit.servlet.AccountVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>sit.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sit.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sit.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewPasswordServlet</servlet-name>
        <servlet-class>sit.servlet.RenewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>sit.servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_ProfileServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_AccountServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_SecurityServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_ThemeServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sit.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>sit.servlet.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>sit.servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>sit.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_OrderHistoryServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting_OrderDetailServlet</servlet-name>
        <servlet-class>sit.servlet.Setting_OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountVerifyServlet</servlet-name>
        <url-pattern>/AccountVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewPasswordServlet</servlet-name>
        <url-pattern>/RenewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_ProfileServlet</servlet-name>
        <url-pattern>/Setting_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_AccountServlet</servlet-name>
        <url-pattern>/Setting_Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_SecurityServlet</servlet-name>
        <url-pattern>/Setting_Security</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_ThemeServlet</servlet-name>
        <url-pattern>/Setting_Theme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_OrderHistoryServlet</servlet-name>
        <url-pattern>/Setting_OrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting_OrderDetailServlet</servlet-name>
        <url-pattern>/Setting_OrderDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage/Error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>
</web-app>
